/*GLOBAL */
* {
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease 0s;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    line-height: 2;
    margin: 0;
    color: #999;
}

#logo {
    margin: 15px;
}

#logo:hover {
    transform: rotate3d(1, 0, 0, 180deg);
}

h1 {
    font-family: 'Candal', sans-serif;
}

nav {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

nav a:link {
    text-decoration-line: none;
}

.fas {
    font-size: 3rem;
}

nav a i {
    color: #FB8B9B;
}

nav a i:hover {
    color: #213E4E;
}

nav a:hover {
    color: #FB8B9B;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* HEADER */
header p {
    font-size: 2em;
}

header h1 {
    font-size: 3em;
}

#hebergement {
    background: url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 200px 0 200px 0;
}

/*FORM*/
form {
    background-color: #FB8B9B;
    width: 100%;
    margin: 0;
}

input {
    background-color: transparent;
    border: none;
    padding-left: 30px;
    color: #FDC0CA;
}

/*MAIN SECTION1 SECTION2*/
main #section1 h3, main #section2 h3 {
    font-size: 1.2em;
}

main #section1, main #section2 {
    display: flex;
    flex-wrap: wrap;
}

main #section1 > *, main #section2 > * {
    flex: 1;
    justify-content: space-around;
    text-align: center;
}

main p, main p {
    text-align: left;
    padding: 20px;
}

#section1 h2, #section2 h2 {
    font-size: 1.8em;
    color: #213E4E;
    text-align: center;
    flex-basis: 100%;
}

section i {
    color: #FB8B9B;
}

strong {
    text-align: center;
}

/*MAIN MUTUALISE & DEDIE*/
#mutualise h2, #dedie h2, #contact h2 {
    color: #213E4E;
    border: 1px #213E4E dashed;
    border-bottom: none;
    text-align: center;
    font-weight: bolder;
    width: 80%;
    margin: 20px auto 0;
}

#mutualise section h3, #dedie section h3 {
    color: white;
    text-align: center;
}

#dedie article h3, #mutualise article h3 {
    display: block;
    padding: 20px;
    background-color: #213E4E;
    color: white;
}

#troisArticles {
    display: flex;
    justify-content: space-around;
}

/*Effet de focus sur articles*/
#troisArticles:hover {
    opacity: 0.5;
}

#troisArticles article:hover {
    opacity: 1;
    background-color: black;
}

/*FIN Effet de focus sur articles*/

#troisArticles article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px #213E4E dashed;
}

.commander {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #FB8B9B;
    text-align: center;
}

/*Section Contact*/
#contact section {
    display: flex;
    justify-content: space-around;
}

#contact section article i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact i {
    width: 100%;
    border-bottom: 1px dashed #FB8B9B;
    padding-bottom: 15px;
}

#contact span {
    color: #FB8B9B;
}

/*FOOTER*/
footer {
    height: 100%;
    width: 100%;
    background-color: #213E4E;
    padding: 20px;
}

footer a {
    color: white;
}

/* LICENCE */
#licence {
    display: block;
    text-align: center;
    padding: 25px;
}

#licence img {
    width: 50px;
}

/* VERSION TABLETTE */
@media screen and (max-width: 768px) {

    .container {
        margin: 0 auto;
    }

    nav, main section, #contact {
        flex-direction: column;
        align-items: center;
    }

}